workflows/3VVqdyFHZOyyLbgv.json
{
  "updatedAt": "2026-01-27T02:10:08.620Z",
  "createdAt": "2026-01-27T02:02:57.673Z",
  "id": "3VVqdyFHZOyyLbgv",
  "name": "start",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    o.id as object_id,\n    o.name as object_name,\n    c.id as creature_id,\n    c.name as creature_name\nFROM objects o\nCROSS JOIN creatures c\nWHERE NOT EXISTS (\n    SELECT 1 FROM combinations_used cu\n    WHERE cu.object_id = o.id AND cu.creature_id = c.id\n)\nORDER BY RANDOM()\nLIMIT 10;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -112,
        0
      ],
      "id": "c563714b-79ca-49d3-a042-d14f964ca875",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "ZwpbCKcvAHS9Ywfz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst buttons = items.map(item => [{\n  text: `${item.json.object_name} + ${item.json.creature_name}`,\n  callback_data: `select_${item.json.object_id}_${item.json.creature_id}`\n}]);\n\nreturn [{\n  json: {\n    chat_id: \"8201163317\",\n    text: \"🎲 랜덤조합 명이의 선택은?:\",\n    reply_markup: {\n      inline_keyboard: buttons\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        0
      ],
      "id": "f6471842-e9c6-4e80-98ac-c59ad2041cdd",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8550742589:AAFNn4FR-0cEPPOqEkAZsXTo-lL-85CtkUo/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        336,
        96
      ],
      "id": "e01e5366-0a95-41a5-b69b-00655200dfe1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    o.id as object_id,\n    o.name as object_name,\n    c.id as creature_id,\n    c.name as creature_name\nFROM objects o\nCROSS JOIN creatures c\nWHERE NOT EXISTS (\n    SELECT 1 FROM combinations_used cu\n    WHERE cu.object_id = o.id AND cu.creature_id = c.id\n)\nORDER BY RANDOM()\nLIMIT 10;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -112,
        192
      ],
      "id": "74c1d2ef-6aa7-4da1-8fbb-a798dce2241c",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "ZwpbCKcvAHS9Ywfz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// 2개씩 묶어서 vs 버튼 생성\nconst buttons = [];\nfor (let i = 0; i < items.length - 1; i += 2) {\n  const item1 = items[i].json;\n  const item2 = items[i + 1].json;\n  \n  buttons.push([{\n    text: `${item1.creature_name} + ${item1.object_name} vs ${item2.creature_name} + ${item2.object_name}`,\n    callback_data: `vs_${item1.object_id}_${item1.creature_id}_${item2.object_id}_${item2.creature_id}`\n  }]);\n}\n\n// ✅ 반드시 배열 안에 json 객체로 반환해야 함\nreturn [{\n  json: {\n    chat_id: \"8201163317\",\n    text: \"⚔️ 대결! 어떤 조합이 이길까?\",\n    reply_markup: {\n      inline_keyboard: buttons\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        192
      ],
      "id": "872071e1-af02-430e-bb15-feda4639c04e",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "조우",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "884eb7aa-ef71-4d22-9a84-11895c5b79b4"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f08b5471-61ba-4000-b360-4cd0e2b9e9b5",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "대결",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -336,
        96
      ],
      "id": "9bfe1d11-01fa-4d5b-9894-1efcc429b90c",
      "name": "Switch"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -560,
        96
      ],
      "id": "e0039219-3bab-40ba-91e8-7f6e8772fa64",
      "name": "start channel",
      "webhookId": "ecc2bbaa-3376-4eb1-992d-5f480e1df106",
      "credentials": {
        "telegramApi": {
          "id": "zO8pBT6fKs3aHm6n",
          "name": "start channel"
        }
      }
    }
  ],
  "connections": {
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "start channel": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "1a20afbd-fb8c-479c-bf18-f53072db604a",
  "activeVersionId": null,
  "versionCounter": 4,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-27T02:02:57.674Z",
      "createdAt": "2026-01-27T02:02:57.674Z",
      "role": "workflow:owner",
      "workflowId": "3VVqdyFHZOyyLbgv",
      "projectId": "OXeW9s41dXHR20eI",
      "project": {
        "updatedAt": "2026-01-24T02:28:30.655Z",
        "createdAt": "2026-01-24T02:27:33.046Z",
        "id": "OXeW9s41dXHR20eI",
        "name": "동명 myungsworld@gmail.com <myungsworld@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e2a50ebe-382d-4360-bacf-362d1e04f653",
        "projectRelations": [
          {
            "updatedAt": "2026-01-24T02:27:33.046Z",
            "createdAt": "2026-01-24T02:27:33.046Z",
            "userId": "e2a50ebe-382d-4360-bacf-362d1e04f653",
            "projectId": "OXeW9s41dXHR20eI",
            "user": {
              "updatedAt": "2026-01-27T01:31:33.000Z",
              "createdAt": "2026-01-24T02:27:32.928Z",
              "id": "e2a50ebe-382d-4360-bacf-362d1e04f653",
              "email": "myungsworld@gmail.com",
              "firstName": "동명",
              "lastName": "myungsworld@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-24T02:29:51.710Z",
                "personalization_survey_n8n_version": "2.4.5",
                "automationGoalDevops": [],
                "companyType": "saas",
                "role": "it"
              },
              "settings": {
                "userActivated": false,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-27",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
