workflows/6_QIukhTW9eKTm9d-j1Lt.json
{
  "updatedAt": "2026-01-25T11:22:25.482Z",
  "createdAt": "2026-01-24T06:06:58.071Z",
  "id": "6_QIukhTW9eKTm9d-j1Lt",
  "name": "1",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    o.id as object_id,\n    o.name as object_name,\n    c.id as creature_id,\n    c.name as creature_name\nFROM objects o\nCROSS JOIN creatures c\nWHERE NOT EXISTS (\n    SELECT 1 FROM combinations_used cu\n    WHERE cu.object_id = o.id AND cu.creature_id = c.id\n)\nORDER BY RANDOM()\nLIMIT 5;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1376,
        -768
      ],
      "id": "578a26a9-d406-4878-bb8d-c733ac108511",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "7YVz70FvVAJ4KXbv",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.creature_name }} 이(가) {{ $json.object_name }} 을(를) 마주했을때 일어날수 있는 웃긴 상황들을 5가지로 정리",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -656,
        -768
      ],
      "id": "ba2fa30a-c470-4f93-ad64-eee698a7f80c",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {
          "temperature": 1,
          "topK": 32,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -656,
        -592
      ],
      "id": "87d38bf6-95da-4d89-bc9d-204ff658ed9e",
      "name": "Google Gemini Chat Model",
      "alwaysOutputData": false,
      "credentials": {
        "googlePalmApi": {
          "id": "ZUae8SXXj0oQvsc7",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8201163317",
        "text": "=🎬 새 스크립트 생성됨!  조합: {{ $('Execute a SQL query').item.json.creature_name }} + {{ $('Execute a SQL query').item.json.object_name }}  스크립트: {{ $('Basic LLM Chain').item.json.text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "다음",
                    "additionalFields": {
                      "callback_data": "approve"
                    }
                  },
                  {
                    "text": "재생성",
                    "additionalFields": {
                      "callback_data": "retry"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -320,
        -768
      ],
      "id": "d0dd4cc4-d662-404d-9a67-1805928c891f",
      "name": "Send a text message",
      "webhookId": "576ba25b-54fa-44e4-8cd8-390593daa8ab",
      "credentials": {
        "telegramApi": {
          "id": "AbEiZcZ5BibBLwIp",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1840,
        -704
      ],
      "id": "8e1c5bc1-c5ae-4b1f-b588-740efcbdc08b",
      "name": "Telegram Trigger",
      "webhookId": "ecc2bbaa-3376-4eb1-992d-5f480e1df106",
      "credentials": {
        "telegramApi": {
          "id": "AbEiZcZ5BibBLwIp",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "037b4941-1360-4cf0-98cb-59361e3d09a2",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "쿼리",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1648,
        -704
      ],
      "id": "094ab730-cc8a-434c-b2fb-9bc7ca849a50",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst buttons = items.map(item => [{\n  text: `${item.json.object_name} + ${item.json.creature_name}`,\n  callback_data: `select_${item.json.object_id}_${item.json.creature_id}`\n}]);\n\nreturn [{\n  json: {\n    chat_id: \"8201163317\",\n    text: \"🎲 랜덤조합 명이의 선택은?:\",\n    reply_markup: {\n      inline_keyboard: buttons\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        -768
      ],
      "id": "0a7965e1-bafb-4498-8ae0-b9dccf42b5f6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8553929993:AAEIMbFBGxG0vjO1J6LevwWInHQ07agN7-U/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -960,
        -768
      ],
      "id": "27e7df2f-2f44-486a-9426-71a7ef271dff",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "03547166-7611-48ab-b3ec-e533cb93f854",
  "activeVersionId": null,
  "versionCounter": 182,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-01-24T06:06:58.077Z",
      "createdAt": "2026-01-24T06:06:58.077Z",
      "role": "workflow:owner",
      "workflowId": "6_QIukhTW9eKTm9d-j1Lt",
      "projectId": "wsi12X4QrdMacbjH",
      "project": {
        "updatedAt": "2026-01-24T05:18:18.642Z",
        "createdAt": "2026-01-24T04:36:02.627Z",
        "id": "wsi12X4QrdMacbjH",
        "name": "동명 송 <myungsworld@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "cbfc2e4f-eabe-46b4-9a88-c2f16fb6083a"
      }
    }
  ]
}