workflows/JdaAIf4dJ8KnOYhjiZB55.json
{
  "updatedAt": "2026-01-26T12:45:52.060Z",
  "createdAt": "2026-01-26T11:31:37.228Z",
  "id": "JdaAIf4dJ8KnOYhjiZB55",
  "name": "My workflow",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "c44ca9ff-ecd2-4593-b3fb-c526359d44cf",
      "name": "script button handler",
      "webhookId": "e208720f-2758-4c30-afd2-f889a2b5d099",
      "credentials": {
        "telegramApi": {
          "id": "mCW3sT6kRuoEFURy",
          "name": "script-bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.message.reply_markup.inline_keyboard[0][0].callback_data }}",
                    "rightValue": "encounter_",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "75020585-3f98-47bc-93dd-7be0926e0c42"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "92fd8234-ec16-40f2-a0af-846d5e372c93",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM encounter_scripts \nWHERE id = CAST(SPLIT_PART('{{ $json.callback_query.message.reply_markup.inline_keyboard[0][0].callback_data }}', '_', 2) AS INTEGER);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        0
      ],
      "id": "f7ecd388-3cc6-4372-9658-cb7e5fcad654",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "7YVz70FvVAJ4KXbv",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "script button handler": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c338c41b-9640-44ba-9ff6-22b366ad9397",
  "activeVersionId": null,
  "versionCounter": 42,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-01-26T11:31:37.231Z",
      "createdAt": "2026-01-26T11:31:37.231Z",
      "role": "workflow:owner",
      "workflowId": "JdaAIf4dJ8KnOYhjiZB55",
      "projectId": "wsi12X4QrdMacbjH",
      "project": {
        "updatedAt": "2026-01-24T05:18:18.642Z",
        "createdAt": "2026-01-24T04:36:02.627Z",
        "id": "wsi12X4QrdMacbjH",
        "name": "동명 송 <myungsworld@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "cbfc2e4f-eabe-46b4-9a88-c2f16fb6083a"
      }
    }
  ]
}