workflows/OZn9Sax8eKAdDGrGvJhaQ.json
{
  "updatedAt": "2026-01-25T11:30:53.282Z",
  "createdAt": "2026-01-25T08:03:38.570Z",
  "id": "OZn9Sax8eKAdDGrGvJhaQ",
  "name": "2",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2208,
        -448
      ],
      "id": "b829886f-5ae4-48df-9b65-874f50b4764f",
      "name": "Telegram Trigger",
      "webhookId": "f3106585-addc-41cf-9ce6-3d0131bebdf9",
      "credentials": {
        "telegramApi": {
          "id": "AbEiZcZ5BibBLwIp",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4862a4c6-dfa1-44f3-8a7b-8c36e2415c32",
              "leftValue": "={{ $json.callback_query.data }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "d4fcf321-0633-4e58-87cb-8df1fca87240",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1632,
        -384
      ],
      "id": "35d723cc-8eae-47e0-aca9-140662bd00e4",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6_QIukhTW9eKTm9d-j1Lt",
          "mode": "id",
          "cachedResultUrl": "/workflow/6_QIukhTW9eKTm9d-j1Lt"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1072,
        -352
      ],
      "id": "be2eae50-13e1-47c2-acce-221fdcbdf70e",
      "name": "Call 'llmFlow'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7d8de42e-3b07-462f-a863-d9adf073a812",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2000,
        -448
      ],
      "id": "a24011d3-2c57-4c33-a2a1-df49fd40a94e",
      "name": "조합선택"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "조합선택",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Call 'llmFlow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "조합선택": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "36a05d88-728a-4da8-8ab8-fc3e5aa4042d",
  "activeVersionId": null,
  "versionCounter": 31,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-01-25T08:03:38.574Z",
      "createdAt": "2026-01-25T08:03:38.574Z",
      "role": "workflow:owner",
      "workflowId": "OZn9Sax8eKAdDGrGvJhaQ",
      "projectId": "wsi12X4QrdMacbjH",
      "project": {
        "updatedAt": "2026-01-24T05:18:18.642Z",
        "createdAt": "2026-01-24T04:36:02.627Z",
        "id": "wsi12X4QrdMacbjH",
        "name": "동명 송 <myungsworld@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "cbfc2e4f-eabe-46b4-9a88-c2f16fb6083a"
      }
    }
  ]
}