workflows/new-boss/new-boss.json
{
  "updatedAt": "2026-02-05T05:03:36.298Z",
  "createdAt": "2026-02-05T04:19:59.368Z",
  "id": "rs1lfJmdbu59jBDI",
  "name": "new-boss",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2256,
        -8
      ],
      "id": "159f34f6-0875-48d9-8e95-990485bd917e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=INPUTS:\nboss: {{ $json.input_boss }}\nhero: {{ $json.input_hero }}\n\nTASK:\n1. Analyze each input — determine if it's a creature, object, or concept\n2. Transform accordingly:\n   - Living beings → Epic fantasy enhancement\n   - Objects → Anthropomorphized titan/warrior\n   - Concepts → Elemental manifestation\n\n3. Generate boss_description:\n   - If object: humanoid titan form integrating the object's visual essence\n   - If creature: enhanced mythic version with armor and magical presence\n   - Always: 12+ feet tall, overwhelming, eyes fixed on challenger\n\n4. Generate hero_description:\n   - Same transformation logic as boss\n   - Always: seen from behind, battle stance, back to camera\n   - Smaller scale but radiating power and determination\n\n5. Generate location:\n   - Environment that narratively connects both entities\n   - If both are kitchen items → cursed culinary arena\n   - If dragon vs knight → volcanic fortress\n   - If vacuum vs pizza → surreal domestic battlefield turned epic\n\nReturn ONLY the JSON output.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a cinematic prompt composer for epic fantasy battle images.\n\nYour task is to transform ANY input (object, creature, profession, concept)\ninto an epic boss or hero character suitable for AAA game cinematics.\n\nTRANSFORMATION RULES:\n\n1. IF input is already a living being (dragon, wolf, wizard, knight, alien):\n   → Enhance into epic fantasy version with armor, magical effects, battle scars\n   → Maintain original form, amplify presence and power\n\n2. IF input is an inanimate object:\n   → Transform into an EPIC ENTITY form that EXPLICITLY retains its original object silhouette.\n   → **Visual Identity:** The character's body must be built FROM the object itself (e.g., a Pencil Hero has a hexagonal wood-textured torso and a graphite-tipped head/weapon).\n   → **Object's function becomes weapon/ability:** Weapons must be literal extensions of the object (e.g., a Pizza Hero uses a pizza cutter axe).\n   → DO NOT turn them into generic humans in armor; they must be \"Object-Humanoids.\"\n\n3. IF input is abstract (love, time, chaos):\n   → Manifest as elemental entity or cosmic being\n   → Visual representation of the concept as a physical warrior\n\n4. Generate hero_description:\n   - Same transformation logic as boss, but MUST visually resemble the input object's literal form.\n   - Example: If 'Pencil', the hero must have a long, slender, wooden-textured body with a graphite spear-hand.\n   - Always: seen from behind, battle stance, back to camera.\n\nUNIVERSAL RULES:\n- Boss: Always COLOSSAL (12+ feet), overwhelming, dominant\n- Hero: Always battle-ready, determined, powerful but smaller scale\n- Both must feel like they belong in the same epic universe\n- Maintain dramatic, mythic, AAA cinematic tone\n- NO humor, NO parody — treat every subject with epic gravitas\n\nOUTPUT:\n{\n  \"boss_description\": \"detailed visual description...\",\n  \"hero_description\": \"detailed visual description, seen from behind...\",\n  \"location\": \"epic battlefield matching the confrontation's theme...\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1152,
        -16
      ],
      "id": "e0e12113-3697-4223-83d3-c93a95bab98f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1152,
        -272
      ],
      "id": "09183359-45fc-40e0-a828-6092fba33cda",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "T6hLQOKnt40dUWSA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n   \"boss_description\" : \"string\",\n   \"hero_description\" : \"string\",\n   \"location\" : \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1008,
        -272
      ],
      "id": "63ff266f-71b2-4c91-bcdb-7795476cfa5a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1888,
        688
      ],
      "id": "9e92bef8-1f7b-4e5c-8ba1-5ccd30674275",
      "name": "Wait",
      "webhookId": "7b364253-8119-45e8-92e7-89d92441b76c"
    },
    {
      "parameters": {
        "url": "={{ $json.urls.get }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Token {{ $env.REPLICATE_API_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1664,
        688
      ],
      "id": "7d224d75-fefa-43b1-944b-af9b703d9913",
      "name": "Replicate 결과 확인1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "condition-succeeded"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1424,
        688
      ],
      "id": "d99301a6-bd80-4275-8b05-262dff732770",
      "name": "이미지 완료?1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/bytedance/seedream-4/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.REPLICATE_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"input\": {\n      \"size\" : \"4K\",\n      \"width\" : 2048,\n      \"height\" : 2048,\n      \"aspect_ratio\": \"9:16\",\n      \"max_images\" : 1,\n      \"prompt\": \"Cinematic photographic image, dramatic lighting with volumetric rays and particle effects. {{ $json.boss_description.replace(/\"/g, '\\\\\"') }} In the foreground, {{ $json.hero_description.replace(/\"/g, '\\\\\"') }}, seen from behind, back facing the camera,standing firmly on the battlefield. His full silhouette visible, shoulders squared, gaze locked directly onto the colossal boss. Directly ahead of him, towering in the distance, boss, facing the hero head-on,its eyes fixed upon its challenger with absolute intent. Location: {{ $json.location.replace(/\"/g, '\\\\\"') }} Both figures fully visible in a wide cinematic shot, the boss towering 3 times over the hero. Tension frozen at the moment both unleash their ultimate abilities - spells colliding in a cataclysmic shockwave. Camera angle: dramatic low angle with slight dutch tilt. Lighting: boss backlit by sickly green deathglow, archmage emanating pure white arcane radiance with extreme contrast between the two forces. Photography style: AAA game cinematic, 4K ultra-detailed, ray-traced reflections, epic fantasy realism, dramatic depth of field, particle effects, motion blur hints on energy effects.\"\n\n\t}\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2064,
        704
      ],
      "id": "1184c40d-0cd4-4a4f-b1d2-ffa90f813e8c",
      "name": "seedream-5"
    },
    {
      "parameters": {
        "command": "=wget -O \"/data/media/boss_{{ $('Update rows in a table1').item.json.id }}_{{ $('Code in JavaScript').item.json.boss.replace(/ /g, '_') }}_vs_{{ $('Code in JavaScript').item.json.hero.replace(/ /g, '_') }}.jpg\" \"{{ $json.output[0] }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1184,
        672
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "이미지 저장 (wget)"
    },
    {
      "parameters": {
        "jsCode": "// stderr에서 저장된 파일 경로 추출\nconst stderr = $input.first().json.stderr || '';\nconst match = stderr.match(/\\/data\\/media\\/(boss_[^']+\\.jpg)/);\nconst filename = match ? match[1] : 'unknown.jpg';\nconst filepath = match ? match[0] : '/data/media/unknown.jpg';\n\n// Insert 노드에서 생성된 row의 id 가져오기\nconst insertedId = $('Update rows in a table1').item.json.id;\n\nreturn [{ json: { id: insertedId, filename, filepath, exitCode: $input.first().json.exitCode } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        672
      ],
      "id": "c1d2e3f4-a5b6-7890-cdef-123456789abc",
      "name": "파일명 추출"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "bosses",
          "mode": "list",
          "cachedResultName": "bosses"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "img_url": "={{ $json.filepath }}",
            "status": "completed"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "input_boss",
              "displayName": "input_boss",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "input_hero",
              "displayName": "input_hero",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "boss_name",
              "displayName": "boss_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hero_name",
              "displayName": "hero_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "boss_description",
              "displayName": "boss_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hero_description",
              "displayName": "hero_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "img_url",
              "displayName": "img_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -672,
        672
      ],
      "id": "d2e3f4a5-b6c7-8901-efab-234567890def",
      "name": "Update img_url",
      "credentials": {
        "postgres": {
          "id": "ZwpbCKcvAHS9Ywfz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.boss = \"eraser\";\n  item.json.hero = \"pencil\"\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2032,
        -8
      ],
      "id": "e74bac02-99a9-4c28-9044-a6083cde030f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "bosses",
          "mode": "list",
          "cachedResultName": "bosses"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "input_boss": "={{ $json.boss }}",
            "input_hero": "={{ $json.hero }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "input_boss",
              "displayName": "input_boss",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "input_hero",
              "displayName": "input_hero",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "boss_name",
              "displayName": "boss_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hero_name",
              "displayName": "hero_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "boss_description",
              "displayName": "boss_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hero_description",
              "displayName": "hero_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "template",
              "displayName": "template",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "img_url",
              "displayName": "img_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1808,
        -8
      ],
      "id": "4e6dbcf8-6b80-4a77-a8cb-8682d4070b13",
      "name": "Insert rows in a table2",
      "credentials": {
        "postgres": {
          "id": "ZwpbCKcvAHS9Ywfz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://remotion:3001/render",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"compositionId\": \"SlotMachine\",\n  \"props\": {\n    \"boss\": \"{{ $json.input_boss }}\",\n    \"hero\": \"{{ $json.input_hero }}\",\n    \"seed\": {{ $now.toMillis() }}\n  },\n  \"outputPath\": \"/data/media/template_{{ $json.id }}.mp4\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1584,
        -8
      ],
      "id": "bedac695-7572-4645-a991-1162d3bc3950",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "bosses",
          "mode": "list",
          "cachedResultName": "bosses"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "input_boss": "={{ $('Insert rows in a table2').item.json.input_boss }}",
            "input_hero": "={{ $('Insert rows in a table2').item.json.input_hero }}",
            "id": "={{ $('Insert rows in a table2').item.json.id }}",
            "template": "={{ $json.outputPath }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "input_boss",
              "displayName": "input_boss",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "input_hero",
              "displayName": "input_hero",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "boss_name",
              "displayName": "boss_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hero_name",
              "displayName": "hero_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "boss_description",
              "displayName": "boss_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hero_description",
              "displayName": "hero_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "template",
              "displayName": "template",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "img_url",
              "displayName": "img_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1360,
        -8
      ],
      "id": "69050f84-e81a-4cf8-bbbf-a08abcb43467",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "ZwpbCKcvAHS9Ywfz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "bosses",
          "mode": "list",
          "cachedResultName": "bosses"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "input_boss": "={{ $('Code in JavaScript').item.json.boss }}",
            "input_hero": "={{ $('Code in JavaScript').item.json.hero }}",
            "boss_description": "={{ $json.output.boss_description }}",
            "hero_description": "={{ $json.output.hero_description }}",
            "location": "={{ $json.output.location }}",
            "id": "={{ $('Insert rows in a table2').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "input_boss",
              "displayName": "input_boss",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "input_hero",
              "displayName": "input_hero",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "boss_name",
              "displayName": "boss_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hero_name",
              "displayName": "hero_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "boss_description",
              "displayName": "boss_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hero_description",
              "displayName": "hero_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "img_url",
              "displayName": "img_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1904,
        352
      ],
      "id": "b426d26b-d5ac-47d6-b237-d0bb5e819bac",
      "name": "Update rows in a table1",
      "credentials": {
        "postgres": {
          "id": "ZwpbCKcvAHS9Ywfz",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Replicate 결과 확인1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replicate 결과 확인1": {
      "main": [
        [
          {
            "node": "이미지 완료?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 완료?1": {
      "main": [
        [
          {
            "node": "이미지 저장 (wget)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "seedream-5": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert rows in a table2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 저장 (wget)": {
      "main": [
        [
          {
            "node": "파일명 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "파일명 추출": {
      "main": [
        [
          {
            "node": "Update img_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table1": {
      "main": [
        [
          {
            "node": "seedream-5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ae8feac4-681f-4c70-a94a-f6adac5e5265",
  "activeVersionId": "7cb0d8ec-1265-4fd7-be29-aee89c3fc13e",
  "versionCounter": 84,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-05T04:19:59.369Z",
      "createdAt": "2026-02-05T04:19:59.369Z",
      "role": "workflow:owner",
      "workflowId": "rs1lfJmdbu59jBDI",
      "projectId": "Pd2AgWCvEle7xN80",
      "project": {
        "updatedAt": "2026-02-05T04:19:20.550Z",
        "createdAt": "2026-02-05T04:18:59.793Z",
        "id": "Pd2AgWCvEle7xN80",
        "name": "동명 myungsworld@gmail.com <myungsworld@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "34366922-2686-4aa9-bba2-faca0c87b2b2",
        "projectRelations": [
          {
            "updatedAt": "2026-02-05T04:18:59.793Z",
            "createdAt": "2026-02-05T04:18:59.793Z",
            "userId": "34366922-2686-4aa9-bba2-faca0c87b2b2",
            "projectId": "Pd2AgWCvEle7xN80",
            "user": {
              "updatedAt": "2026-02-05T04:20:55.401Z",
              "createdAt": "2026-02-05T04:18:59.653Z",
              "id": "34366922-2686-4aa9-bba2-faca0c87b2b2",
              "email": "myungsworld@gmail.com",
              "firstName": "동명",
              "lastName": "myungsworld@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-05T04:19:22.722Z",
                "personalization_survey_n8n_version": "2.4.5"
              },
              "settings": {
                "userActivated": false,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-05T04:19:59.371Z",
    "createdAt": "2026-02-05T04:19:59.371Z",
    "versionId": "7cb0d8ec-1265-4fd7-be29-aee89c3fc13e",
    "workflowId": "rs1lfJmdbu59jBDI",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -2256,
          -64
        ],
        "id": "159f34f6-0875-48d9-8e95-990485bd917e",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=INPUTS:\nboss: {{ $json.boss }}\nhero: {{ $json.hero }}\n\nTASK:\n1. Analyze each input — determine if it's a creature, object, or concept\n2. Transform accordingly:\n   - Living beings → Epic fantasy enhancement\n   - Objects → Anthropomorphized titan/warrior\n   - Concepts → Elemental manifestation\n\n3. Generate boss_description:\n   - If object: humanoid titan form integrating the object's visual essence\n   - If creature: enhanced mythic version with armor and magical presence\n   - Always: 12+ feet tall, overwhelming, eyes fixed on challenger\n\n4. Generate hero_description:\n   - Same transformation logic as boss\n   - Always: seen from behind, battle stance, back to camera\n   - Smaller scale but radiating power and determination\n\n5. Generate location:\n   - Environment that narratively connects both entities\n   - If both are kitchen items → cursed culinary arena\n   - If dragon vs knight → volcanic fortress\n   - If vacuum vs pizza → surreal domestic battlefield turned epic\n\nReturn ONLY the JSON output.",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=You are a cinematic prompt composer for epic fantasy battle images.\n\nYour task is to transform ANY input (object, creature, profession, concept)\ninto an epic boss or hero character suitable for AAA game cinematics.\n\nTRANSFORMATION RULES:\n\n1. IF input is already a living being (dragon, wolf, wizard, knight, alien):\n   → Enhance into epic fantasy version with armor, magical effects, battle scars\n   → Maintain original form, amplify presence and power\n\n2. IF input is an inanimate object:\n   → Transform into an EPIC ENTITY form that best fits the object's nature\n   → Core visual identity (shape, color, texture) becomes armor/body design\n   → Object's function becomes weapon/ability\n   → Add face/eyes, limbs, imposing presence \n   → Consider these approaches ANTHROPOMORPHIZE into (choose creatively):\n   - Titan/Warrior (humanoid with object as armor/weapon)\n   - Beast/Dragon (creature shaped by object's silhouette)\n   - Elemental (pure energy manifestation of object's essence)\n   - Construct/Golem (massive mechanical version)\n   - Swarm (thousands forming one entity)\n   - Chimera (object fused with creature parts)\n\n3. IF input is abstract (love, time, chaos):\n   → Manifest as elemental entity or cosmic being\n   → Visual representation of the concept as a physical warrior\n\nUNIVERSAL RULES:\n- Boss: Always COLOSSAL (12+ feet), overwhelming, dominant\n- Hero: Always battle-ready, determined, powerful but smaller scale\n- Both must feel like they belong in the same epic universe\n- Maintain dramatic, mythic, AAA cinematic tone\n- NO humor, NO parody — treat every subject with epic gravitas\n\nOUTPUT:\n{\n  \"boss_description\": \"detailed visual description...\",\n  \"hero_description\": \"detailed visual description, seen from behind...\",\n  \"location\": \"epic battlefield matching the confrontation's theme...\"\n}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          -1824,
          -64
        ],
        "id": "e0e12113-3697-4223-83d3-c93a95bab98f",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          -1888,
          144
        ],
        "id": "09183359-45fc-40e0-a828-6092fba33cda",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "T6hLQOKnt40dUWSA",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n   \"boss_description\" : \"string\",\n   \"hero_description\" : \"string\",\n   \"location\" : \"string\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -1632,
          144
        ],
        "id": "63ff266f-71b2-4c91-bcdb-7795476cfa5a",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -1040,
          -64
        ],
        "id": "9e92bef8-1f7b-4e5c-8ba1-5ccd30674275",
        "name": "Wait",
        "webhookId": "7b364253-8119-45e8-92e7-89d92441b76c"
      },
      {
        "parameters": {
          "url": "={{ $json.urls.get }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Token {{ $env.REPLICATE_API_TOKEN }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -816,
          -80
        ],
        "id": "7d224d75-fefa-43b1-944b-af9b703d9913",
        "name": "Replicate 결과 확인1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ $json.status }}",
                "rightValue": "succeeded",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "id": "condition-succeeded"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -608,
          -80
        ],
        "id": "d99301a6-bd80-4275-8b05-262dff732770",
        "name": "이미지 완료?1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.replicate.com/v1/models/bytedance/seedream-4/predictions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.REPLICATE_API_TOKEN }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n\t\"input\": {\n      \"size\" : \"4K\",\n      \"width\" : 2048,\n      \"height\" : 2048,\n      \"aspect_ratio\": \"9:16\",\n      \"max_images\" : 1,\n      \"prompt\": \"Cinematic photographic image, dramatic lighting with volumetric rays and particle effects. {{ $json.boss_description.replace(/\"/g, '\\\\\"') }} In the foreground, {{ $json.hero_description.replace(/\"/g, '\\\\\"') }}, seen from behind, back facing the camera,standing firmly on the battlefield. His full silhouette visible, shoulders squared, gaze locked directly onto the colossal boss. Directly ahead of him, towering in the distance, boss, facing the hero head-on,its eyes fixed upon its challenger with absolute intent. Location: {{ $json.location.replace(/\"/g, '\\\\\"') }} Both figures fully visible in a wide cinematic shot, the boss towering 3 times over the hero. Tension frozen at the moment both unleash their ultimate abilities - spells colliding in a cataclysmic shockwave. Camera angle: dramatic low angle with slight dutch tilt. Lighting: boss backlit by sickly green deathglow, archmage emanating pure white arcane radiance with extreme contrast between the two forces. Photography style: AAA game cinematic, 4K ultra-detailed, ray-traced reflections, epic fantasy realism, dramatic depth of field, particle effects, motion blur hints on energy effects.\"\n\n\t}\n} ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -1248,
          -64
        ],
        "id": "1184c40d-0cd4-4a4f-b1d2-ffa90f813e8c",
        "name": "seedream-5"
      },
      {
        "parameters": {
          "command": "=wget -O \"/data/media/boss_{{ $('Code in JavaScript').item.json.boss.replace(/ /g, '_') }}_hero_{{ $('Code in JavaScript').item.json.hero.replace(/ /g, '_') }}.jpg\" \"{{ $json.output[0] }}\""
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          -400,
          -80
        ],
        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
        "name": "이미지 저장 (wget)"
      },
      {
        "parameters": {
          "jsCode": "// stderr에서 저장된 파일 경로 추출\nconst stderr = $input.first().json.stderr || '';\nconst match = stderr.match(/\\/data\\/media\\/(boss_[^']+\\.jpg)/);\nconst filename = match ? match[1] : 'unknown.jpg';\nconst filepath = match ? match[0] : '/data/media/unknown.jpg';\n\n// Insert 노드에서 생성된 row의 id 가져오기\nconst insertedId = $('Insert rows in a table').item.json.id;\n\nreturn [{ json: { id: insertedId, filename, filepath, exitCode: $input.first().json.exitCode } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -176,
          -80
        ],
        "id": "c1d2e3f4-a5b6-7890-cdef-123456789abc",
        "name": "파일명 추출"
      },
      {
        "parameters": {
          "operation": "update",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "bosses",
            "mode": "list",
            "cachedResultName": "bosses"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "id": "={{ $json.id }}",
              "img_url": "={{ $json.filepath }}",
              "status": "completed"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "input_boss",
                "displayName": "input_boss",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "input_hero",
                "displayName": "input_hero",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "boss_name",
                "displayName": "boss_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "hero_name",
                "displayName": "hero_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "boss_description",
                "displayName": "boss_description",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "hero_description",
                "displayName": "hero_description",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "location",
                "displayName": "location",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "img_url",
                "displayName": "img_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "created_at",
                "displayName": "created_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "updated_at",
                "displayName": "updated_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          48,
          -80
        ],
        "id": "d2e3f4a5-b6c7-8901-efab-234567890def",
        "name": "Update img_url",
        "credentials": {
          "postgres": {
            "id": "ZwpbCKcvAHS9Ywfz",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.boss = \"snake\";\n  item.json.hero = \"pencil\"\n}\n\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2048,
          -64
        ],
        "id": "e74bac02-99a9-4c28-9044-a6083cde030f",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "bosses",
            "mode": "list",
            "cachedResultName": "bosses"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "input_boss": "={{ $('Code in JavaScript').item.json.boss }}",
              "input_hero": "={{ $('Code in JavaScript').item.json.hero }}",
              "boss_description": "={{ $json.output.boss_description }}",
              "hero_description": "={{ $json.output.hero_description }}",
              "location": "={{ $json.output.location }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "input_boss",
                "displayName": "input_boss",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "input_hero",
                "displayName": "input_hero",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "boss_name",
                "displayName": "boss_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "hero_name",
                "displayName": "hero_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "boss_description",
                "displayName": "boss_description",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "hero_description",
                "displayName": "hero_description",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "location",
                "displayName": "location",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "img_url",
                "displayName": "img_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "created_at",
                "displayName": "created_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true
              },
              {
                "id": "updated_at",
                "displayName": "updated_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1472,
          -64
        ],
        "id": "b426d26b-d5ac-47d6-b237-d0bb5e819bac",
        "name": "Insert rows in a table",
        "credentials": {
          "postgres": {
            "id": "ZwpbCKcvAHS9Ywfz",
            "name": "Postgres account"
          }
        }
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Insert rows in a table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Replicate 결과 확인1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Replicate 결과 확인1": {
        "main": [
          [
            {
              "node": "이미지 완료?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "이미지 완료?1": {
        "main": [
          [
            {
              "node": "이미지 저장 (wget)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "seedream-5": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert rows in a table": {
        "main": [
          [
            {
              "node": "seedream-5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "이미지 저장 (wget)": {
        "main": [
          [
            {
              "node": "파일명 추출",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "파일명 추출": {
        "main": [
          [
            {
              "node": "Update img_url",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "동명 myungsworld@gmail.com",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-05T04:20:01.428Z",
        "id": 4,
        "workflowId": "rs1lfJmdbu59jBDI",
        "versionId": "7cb0d8ec-1265-4fd7-be29-aee89c3fc13e",
        "event": "activated",
        "userId": "34366922-2686-4aa9-bba2-faca0c87b2b2"
      }
    ]
  }
}
