workflows/new-boss/new-boss.json
{
  "updatedAt": "2026-02-03T12:23:32.544Z",
  "createdAt": "2026-02-03T10:20:34.757Z",
  "id": "TQTckAxt9vBgtOgyEHgGT",
  "name": "new-boss",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2256,
        -64
      ],
      "id": "159f34f6-0875-48d9-8e95-990485bd917e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=INPUTS:\nboss: Eraser\nhero: Pencil\n\nTASK:\n1. Analyze each input — determine if it's a creature, object, or concept\n2. Transform accordingly:\n   - Living beings → Epic fantasy enhancement\n   - Objects → Anthropomorphized titan/warrior\n   - Concepts → Elemental manifestation\n\n3. Generate boss_description:\n   - If object: humanoid titan form integrating the object's visual essence\n   - If creature: enhanced mythic version with armor and magical presence\n   - Always: 12+ feet tall, overwhelming, eyes fixed on challenger\n\n4. Generate hero_description:\n   - Same transformation logic as boss\n   - Always: seen from behind, battle stance, back to camera\n   - Smaller scale but radiating power and determination\n\n5. Generate location:\n   - Environment that narratively connects both entities\n   - If both are kitchen items → cursed culinary arena\n   - If dragon vs knight → volcanic fortress\n   - If vacuum vs pizza → surreal domestic battlefield turned epic\n\nReturn ONLY the JSON output.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a cinematic prompt composer for epic fantasy battle images.\n\nYour task is to transform ANY input (object, creature, profession, concept)\ninto an epic boss or hero character suitable for AAA game cinematics.\n\nTRANSFORMATION RULES:\n\n1. IF input is already a living being (dragon, wolf, wizard, knight, alien):\n   → Enhance into epic fantasy version with armor, magical effects, battle scars\n   → Maintain original form, amplify presence and power\n\n2. IF input is an inanimate object:\n   → Transform into an EPIC ENTITY form that best fits the object's nature\n   → Core visual identity (shape, color, texture) becomes armor/body design\n   → Object's function becomes weapon/ability\n   → Add face/eyes, limbs, imposing presence \n   → Consider these approaches ANTHROPOMORPHIZE into (choose creatively):\n   - Titan/Warrior (humanoid with object as armor/weapon)\n   - Beast/Dragon (creature shaped by object's silhouette)\n   - Elemental (pure energy manifestation of object's essence)\n   - Construct/Golem (massive mechanical version)\n   - Swarm (thousands forming one entity)\n   - Chimera (object fused with creature parts)\n\n3. IF input is abstract (love, time, chaos):\n   → Manifest as elemental entity or cosmic being\n   → Visual representation of the concept as a physical warrior\n\nUNIVERSAL RULES:\n- Boss: Always COLOSSAL (12+ feet), overwhelming, dominant\n- Hero: Always battle-ready, determined, powerful but smaller scale\n- Both must feel like they belong in the same epic universe\n- Maintain dramatic, mythic, AAA cinematic tone\n- NO humor, NO parody — treat every subject with epic gravitas\n\nOUTPUT:\n{\n  \"boss_description\": \"detailed visual description...\",\n  \"hero_description\": \"detailed visual description, seen from behind...\",\n  \"location\": \"epic battlefield matching the confrontation's theme...\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1680,
        -64
      ],
      "id": "e0e12113-3697-4223-83d3-c93a95bab98f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1776,
        144
      ],
      "id": "09183359-45fc-40e0-a828-6092fba33cda",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "T6hLQOKnt40dUWSA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n   \"boss_description\" : \"string\",\n   \"hero_description\" : \"string\",\n   \"location\" : \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1456,
        144
      ],
      "id": "63ff266f-71b2-4c91-bcdb-7795476cfa5a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/bytedance/seedance-1-pro-fast/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.REPLICATE_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"input\": {\n      \"fps\": 24,\n      \"image\": \"{{ $json.output[0] }}\",\n      \"prompt\": \"The couple stand in a grand palace hallare walking forward at a very slow, confident, ceremonial pace, almost like slow motion. They walk straight toward the camera in a steady, graceful manner, with elegant posture. They do NOT look at the camera; instead, their gaze moves slightly around the environment, as if entering an important royal event or ballroom filled with people. The noblewoman's face remains perfectly composed and steady, with no sudden movements or exaggerated expressions. The animal maintains a dignified, controlled walk, matching the rhythm of the noblewoman while keeping a formal and respectful distance. Their clothing moves subtly with each step, showing realistic weight and fabric motion. The lighting is dramatic and warm, with reflections from chandeliers and polished marble floors, matching the palace environment in the image. Ultra-smooth camera motion, cinematic depth of field.\"\n\t}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -704,
        368
      ],
      "id": "9a36824d-777a-4ad8-9ddf-44b95639a001",
      "name": "HTTP Request1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -992,
        -80
      ],
      "id": "9e92bef8-1f7b-4e5c-8ba1-5ccd30674275",
      "name": "Wait",
      "webhookId": "7b364253-8119-45e8-92e7-89d92441b76c"
    },
    {
      "parameters": {
        "url": "={{ $json.urls.get }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Token {{ $env.REPLICATE_API_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -816,
        -80
      ],
      "id": "7d224d75-fefa-43b1-944b-af9b703d9913",
      "name": "Replicate 결과 확인1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "condition-succeeded"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -608,
        -80
      ],
      "id": "d99301a6-bd80-4275-8b05-262dff732770",
      "name": "이미지 완료?1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/bytedance/seedream-4/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.REPLICATE_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"input\": {\n      \"size\" : \"4K\",\n      \"width\" : 2048,\n      \"height\" : 2048,\n      \"aspect_ratio\": \"9:16\",\n      \"max_images\" : 1,\n      \"prompt\": \"Cinematic photographic image, dramatic lighting with volumetric rays and particle effects. {{ $json.output.boss_description.replace(/\"/g, '\\\\\"') }} In the foreground, {{ $json.output.hero_description.replace(/\"/g, '\\\\\"') }}, seen from behind, back facing the camera,standing firmly on the battlefield. His full silhouette visible, shoulders squared, gaze locked directly onto the colossal boss. Directly ahead of him, towering in the distance, boss, facing the hero head-on,its eyes fixed upon its challenger with absolute intent. Location: {{ $json.output.location.replace(/\"/g, '\\\\\"') }} Both figures fully visible in a wide cinematic shot, the boss towering 3 times over the hero. Tension frozen at the moment both unleash their ultimate abilities - spells colliding in a cataclysmic shockwave. Camera angle: dramatic low angle with slight dutch tilt. Lighting: boss backlit by sickly green deathglow, archmage emanating pure white arcane radiance with extreme contrast between the two forces. Photography style: AAA game cinematic, 4K ultra-detailed, ray-traced reflections, epic fantasy realism, dramatic depth of field, particle effects, motion blur hints on energy effects.\"\n\n\t}\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1328,
        -64
      ],
      "id": "1184c40d-0cd4-4a4f-b1d2-ffa90f813e8c",
      "name": "seedream-5"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "seedream-5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Replicate 결과 확인1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replicate 결과 확인1": {
      "main": [
        [
          {
            "node": "이미지 완료?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 완료?1": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "seedream-5": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "7958dfc8-7975-4893-b324-109d9084bd2f",
  "activeVersionId": null,
  "versionCounter": 54,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-03T10:20:34.760Z",
      "createdAt": "2026-02-03T10:20:34.760Z",
      "role": "workflow:owner",
      "workflowId": "TQTckAxt9vBgtOgyEHgGT",
      "projectId": "Y9hTNbB4ECWBI5qC",
      "project": {
        "updatedAt": "2026-02-03T10:11:25.965Z",
        "createdAt": "2026-02-03T10:11:07.556Z",
        "id": "Y9hTNbB4ECWBI5qC",
        "name": "동명 myungsworld@gmail.com <myungsworld@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "039b17a7-d075-44d6-8898-92b1ecea08ae",
        "projectRelations": [
          {
            "updatedAt": "2026-02-03T10:11:07.557Z",
            "createdAt": "2026-02-03T10:11:07.557Z",
            "userId": "039b17a7-d075-44d6-8898-92b1ecea08ae",
            "projectId": "Y9hTNbB4ECWBI5qC",
            "user": {
              "updatedAt": "2026-02-03T10:14:21.886Z",
              "createdAt": "2026-02-03T10:11:07.094Z",
              "id": "039b17a7-d075-44d6-8898-92b1ecea08ae",
              "email": "myungsworld@gmail.com",
              "firstName": "동명",
              "lastName": "myungsworld@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-03T10:11:29.002Z",
                "personalization_survey_n8n_version": "2.4.6"
              },
              "settings": {
                "userActivated": false,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-03",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
