workflows/my-workflow/my-workflow.json
{
  "updatedAt": "2026-02-02T12:37:58.741Z",
  "createdAt": "2026-02-02T11:21:05.929Z",
  "id": "_cKwC0AEwnfdK3Ud7NF4n",
  "name": "my-workflow",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2352,
        -144
      ],
      "id": "b088ae30-9f35-406d-8af4-6c526b2df9c1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "504fb21c-d839-4635-9d20-ef73aaaaadd7",
              "name": "countries",
              "value": "[\"Japan\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2144,
        -144
      ],
      "id": "f1f03727-e31d-4071-a98d-6f5ba5556689",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "countries",
        "options": {
          "destinationFieldName": "country"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1936,
        -144
      ],
      "id": "07d09436-f96e-477c-a673-6b3f2b73c29e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please tell me what is national animal of {{ $json.country }} and describe to me the national traiditional outfit of {{ $json.country }} for both men and women.\n\nGo to the point , do not verbose .",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1728,
        -144
      ],
      "id": "361fb536-ce9c-4061-aae4-6008199f79be",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1872,
        64
      ],
      "id": "87ec1528-585c-4131-a6fe-9fab7847b1c3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "T6hLQOKnt40dUWSA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n   \"country\" : \"korea\",\n\t\"animal\": \"Tiger\",\n\t\"outfit\": \"white robo with green and yellow colors in the neck...\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1552,
        64
      ],
      "id": "5a6037f3-58b4-471d-a05f-df161a1775ed",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/bytedance/seedance-1-pro-fast/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.REPLICATE_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"input\": {\n      \"fps\": 24,\n      \"image\": \"{{ $json.output[0] }}\",\n      \"prompt\": \"The couple stand in a grand palace hallare walking forward at a very slow, confident, ceremonial pace, almost like slow motion. They walk straight toward the camera in a steady, graceful manner, with elegant posture. They do NOT look at the camera; instead, their gaze moves slightly around the environment, as if entering an important royal event or ballroom filled with people. The noblewoman's face remains perfectly composed and steady, with no sudden movements or exaggerated expressions. The animal maintains a dignified, controlled walk, matching the rhythm of the noblewoman while keeping a formal and respectful distance. Their clothing moves subtly with each step, showing realistic weight and fabric motion. The lighting is dramatic and warm, with reflections from chandeliers and polished marble floors, matching the palace environment in the image. Ultra-smooth camera motion, cinematic depth of field.\"\n\t}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -592,
        -160
      ],
      "id": "dc54cb6c-4bde-4680-9a33-94f1e1dbe6f5",
      "name": "HTTP Request1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1168,
        -144
      ],
      "id": "be6d478c-6479-4b63-a084-d7e58288c762",
      "name": "Wait",
      "webhookId": "7b364253-8119-45e8-92e7-89d92441b76c"
    },
    {
      "parameters": {
        "url": "={{ $json.urls.get }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Token {{ $env.REPLICATE_API_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -992,
        -144
      ],
      "id": "ac9d8700-e1e1-418c-b014-831e3924d84c",
      "name": "Replicate 결과 확인1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "condition-succeeded"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -800,
        -144
      ],
      "id": "4396c7e9-7ea8-41a8-896b-77179ae0ef1f",
      "name": "이미지 완료?1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.REPLICATE_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"version\": \"stability-ai/sdxl:7762fd07cf82c948538e41f63f77d685e02b063e37e496e96eefd46c929f9bdc\",\n\t\"input\": {\n      \"width\": 1024,\n      \"height\": 1024,\n      \"prompt\": \"Cinematic photographic image, lifelike and natural lighting. A towering anthropomorphic {{ $json.output.animal }} with a massively powerful physique, broad shoulders, thick defined musculature and heroic proportions, walking upright like a royal guardian with confident human-like posture. It is dressed in ornate traditional male {{ $json.output.country }} ceremonial attire {{ $json.output.outfit }} tailored to its large, imposing build, using a color palette that clearly reflects {{ $json.output.country }} culture, conveying regal strength and presence.Beside it walks a stunning human noblewoman from {{ $json.output.country }} with a beautifully defined face and refined features, confident expression, realistic skin texture, expressive eyes, and natural flowing hair. She wears a luxurious, form-fitting traditional {{ $json.output.country }} gown designed to emphasize her feminine curves while remaining elegant and dignified, combining elegance and allure - rich fabrics, tasteful neckline, coordinated jewelry, glamorous but refined appearance. Both characters are fully visible: full-body shot, centered, walking forward together in synchronised stride, the {{ $json.output.animal }} protective beside her, its size and strength subtly shielding her. Location: a grand palace interior or ceremonial hall, with ornate architectural details, carved walls, impressive columns, chandeliers or culturally appropriate lighting fixtures, polished marble or ceremonial flooring, warm golden light, refined atmosphere. Photography style: realistic editorial fashion shot, premium beauty focus on the noblewomans face and presence, crisp detail, natural reflections, clean composition.\",\n      \"apply_watermark\": false\n\t}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1360,
        48
      ],
      "id": "0113cff0-fc95-4bad-989d-0d602299103a",
      "name": "stablity-ai/sdxl"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/bytedance/seedream-4/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.REPLICATE_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"input\": {\n      \"size\" : \"4K\",\n      \"width\" : 2048,\n      \"height\" : 2048,\n      \"aspect_ratio\": \"9:16\",\n      \"max_images\" : 1,\n      \"prompt\": \"Cinematic photographic image, dramatic lighting with volumetric rays and particle effects. A colossal Ancient Lich Emperor standing as the ultimate adversary, radiating necrotic darkness energy that distorts the air around it. Its form is towering 12 feet of skeletal majesty draped in tattered imperial robes, with a crown of cursed obsidian and hollow eye sockets burning with green hellfire that speak of ancient power and countless victories. It wears corroded emperor's armor fused with its bones over millennia, adorned with soul gems containing the screaming essences of legendary heroes. Its eyes glow with ethereal green intensity, fixed upon its challenger. In its grasp, a massive runed staff topped with a skull that whispers forbidden knowledge, pulsing with death magic that withers all life nearby. The boss exudes the weight of ten thousand years of undeath - an overwhelming presence that warps reality itself. Facing the titan stands a battle-hardened Supreme Archmage, bearing the marks of a thousand battles and ultimate mastery. His physique is tall and commanding, arcane energy crackling beneath his skin, with long white hair defying gravity, eyes replaced by swirling galaxies, and runic tattoos covering every visible surface. He wears the Robes of the Reality Weaver - legendary-tier equipment forged from crystallized time and woven starlight, glowing with enchantments. He wields the Staff of Infinite Theorems, emanating multiple overlapping magic circles and reality fractures. Battle stance is floating slightly above ground, seven elemental orbs orbiting, hands conducting an orchestra of destruction, showing no fear despite the overwhelming odds. A manifested arcane familiar - a phoenix made of pure mathematics - the signature mark of a max-level Supreme Archmage. Location: The Necropolis Throne - the heart of an undead empire buried beneath a dead world. The environment features towering pillars of fused bones, rivers of ghostly green energy, floating sarcophagi of fallen kings, and a throne made of a million skulls, with suffocating dread and eternal silence broken only by distant screams. Soul flames and necrotic mist swirl around the battlefield. The ground shows ancient tiles cracked by centuries, bones emerging from every crevice. Both figures fully visible in a wide cinematic shot, the boss towering 2.5 times over the adventurer. Tension frozen at the moment both unleash their ultimate abilities - spells colliding in a cataclysmic shockwave. Camera angle: dramatic low angle with slight dutch tilt. Lighting: boss backlit by sickly green deathglow, archmage emanating pure white arcane radiance with extreme contrast between the two forces. Photography style: AAA game cinematic, 4K ultra-detailed, ray-traced reflections, epic fantasy realism, dramatic depth of field, particle effects, motion blur hints on energy effects.\"\n\n\t}\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1376,
        -144
      ],
      "id": "1df6465b-a32c-4282-bcf3-54d7fc63764c",
      "name": "seedream-4"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "seedream-4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Replicate 결과 확인1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replicate 결과 확인1": {
      "main": [
        [
          {
            "node": "이미지 완료?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 완료?1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "seedream-4": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "32d18f24-ce30-4ee3-b6ac-b9070e94a968",
  "activeVersionId": null,
  "versionCounter": 4,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-02T11:21:05.933Z",
      "createdAt": "2026-02-02T11:21:05.933Z",
      "role": "workflow:owner",
      "workflowId": "_cKwC0AEwnfdK3Ud7NF4n",
      "projectId": "WEoDqinwhX4kz45J",
      "project": {
        "updatedAt": "2026-02-02T10:41:05.278Z",
        "createdAt": "2026-02-02T10:40:54.083Z",
        "id": "WEoDqinwhX4kz45J",
        "name": "동명 myungsworld@gmail.com <myungsworld@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "bd22235a-5917-47bd-ad06-90208f3f7e81",
        "projectRelations": [
          {
            "updatedAt": "2026-02-02T10:40:54.083Z",
            "createdAt": "2026-02-02T10:40:54.083Z",
            "userId": "bd22235a-5917-47bd-ad06-90208f3f7e81",
            "projectId": "WEoDqinwhX4kz45J",
            "user": {
              "updatedAt": "2026-02-02T10:50:39.170Z",
              "createdAt": "2026-02-02T10:40:53.629Z",
              "id": "bd22235a-5917-47bd-ad06-90208f3f7e81",
              "email": "myungsworld@gmail.com",
              "firstName": "동명",
              "lastName": "myungsworld@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-02T10:41:07.859Z",
                "personalization_survey_n8n_version": "2.4.6"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "GArLBxJC8Q0lutu3",
                "userActivatedAt": 1770029149265,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-02",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
