workflows/boss/boss.json
{
  "updatedAt": "2026-02-05T02:05:51.407Z",
  "createdAt": "2026-02-04T08:13:16.958Z",
  "id": "qLy5BZegbmGjN6xL",
  "name": "boss",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3664,
        -128
      ],
      "id": "5d90c2c1-a08b-4ae8-9c48-083ef8c883a7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=INPUTS:\nboss: {{ $json.boss }}\nhero: {{ $json.hero }}\n\nTASK:\n1. Analyze each input — determine if it's a creature, object, or concept\n2. Transform accordingly:\n   - Living beings → Epic fantasy enhancement\n   - Objects → Anthropomorphized titan/warrior\n   - Concepts → Elemental manifestation\n\n3. Generate boss_description:\n   - If object: humanoid titan form integrating the object's visual essence\n   - If creature: enhanced mythic version with armor and magical presence\n   - Always: 12+ feet tall, overwhelming, eyes fixed on challenger\n\n4. Generate hero_description:\n   - Same transformation logic as boss\n   - Always: seen from behind, battle stance, back to camera\n   - Smaller scale but radiating power and determination\n\n5. Generate location:\n   - Environment that narratively connects both entities\n   - If both are kitchen items → cursed culinary arena\n   - If dragon vs knight → volcanic fortress\n   - If vacuum vs pizza → surreal domestic battlefield turned epic\n\nReturn ONLY the JSON output.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a cinematic prompt composer for epic fantasy battle images.\n\nYour task is to transform ANY input (object, creature, profession, concept)\ninto an epic boss or hero character suitable for AAA game cinematics.\n\nTRANSFORMATION RULES:\n\n1. IF input is already a living being (dragon, wolf, wizard, knight, alien):\n   → Enhance into epic fantasy version with armor, magical effects, battle scars\n   → Maintain original form, amplify presence and power\n\n2. IF input is an inanimate object:\n   → Transform into an EPIC ENTITY form that best fits the object's nature\n   → Core visual identity (shape, color, texture) becomes armor/body design\n   → Object's function becomes weapon/ability\n   → Add face/eyes, limbs, imposing presence \n   → Consider these approaches ANTHROPOMORPHIZE into (choose creatively):\n   - Titan/Warrior (humanoid with object as armor/weapon)\n   - Beast/Dragon (creature shaped by object's silhouette)\n   - Elemental (pure energy manifestation of object's essence)\n   - Construct/Golem (massive mechanical version)\n   - Swarm (thousands forming one entity)\n   - Chimera (object fused with creature parts)\n\n3. IF input is abstract (love, time, chaos):\n   → Manifest as elemental entity or cosmic being\n   → Visual representation of the concept as a physical warrior\n\nUNIVERSAL RULES:\n- Boss: Always COLOSSAL (12+ feet), overwhelming, dominant\n- Hero: Always battle-ready, determined, powerful but smaller scale\n- Both must feel like they belong in the same epic universe\n- Maintain dramatic, mythic, AAA cinematic tone\n- NO humor, NO parody — treat every subject with epic gravitas\n\nOUTPUT:\n{\n  \"boss_description\": \"detailed visual description...\",\n  \"hero_description\": \"detailed visual description, seen from behind...\",\n  \"location\": \"epic battlefield matching the confrontation's theme...\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -3088,
        -128
      ],
      "id": "5c8a4543-24de-4f36-8677-f478522a4cc9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -3088,
        80
      ],
      "id": "90a614df-a0a7-4625-94f0-7e248f226028",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "T6hLQOKnt40dUWSA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n   \"boss_description\" : \"string\",\n   \"hero_description\" : \"string\",\n   \"location\" : \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2736,
        80
      ],
      "id": "50df7823-7064-4a35-8b95-78e2f312eda0",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2240,
        -128
      ],
      "id": "246d2df7-9bed-40df-86a1-45362cff2b13",
      "name": "Wait",
      "webhookId": "7b364253-8119-45e8-92e7-89d92441b76c"
    },
    {
      "parameters": {
        "url": "={{ $json.urls.get }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Token {{ $env.REPLICATE_API_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2016,
        -144
      ],
      "id": "6e85304d-cf8c-4d32-9989-dc26430bcac5",
      "name": "Replicate 결과 확인1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "condition-succeeded"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1808,
        -144
      ],
      "id": "cc7dc423-a97b-4e65-b4a0-abea4538bd0b",
      "name": "이미지 완료?1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/bytedance/seedream-4/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.REPLICATE_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"input\": {\n      \"size\" : \"4K\",\n      \"width\" : 2048,\n      \"height\" : 2048,\n      \"aspect_ratio\": \"9:16\",\n      \"max_images\" : 1,\n      \"prompt\": \"Cinematic photographic image, dramatic lighting with volumetric rays and particle effects. {{ $json.boss_description.replace(/\"/g, '\\\\\"') }} In the foreground, {{ $json.hero_description.replace(/\"/g, '\\\\\"') }}, seen from behind, back facing the camera,standing firmly on the battlefield. His full silhouette visible, shoulders squared, gaze locked directly onto the colossal boss. Directly ahead of him, towering in the distance, boss, facing the hero head-on,its eyes fixed upon its challenger with absolute intent. Location: {{ $json.location.replace(/\"/g, '\\\\\"') }} Both figures fully visible in a wide cinematic shot, the boss towering 3 times over the hero. Tension frozen at the moment both unleash their ultimate abilities - spells colliding in a cataclysmic shockwave. Camera angle: dramatic low angle with slight dutch tilt. Lighting: boss backlit by sickly green deathglow, archmage emanating pure white arcane radiance with extreme contrast between the two forces. Photography style: AAA game cinematic, 4K ultra-detailed, ray-traced reflections, epic fantasy realism, dramatic depth of field, particle effects, motion blur hints on energy effects.\"\n\n\t}\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2448,
        -128
      ],
      "id": "1a48c669-6bb9-4242-a942-c8ca4bdd1439",
      "name": "seedream-5"
    },
    {
      "parameters": {
        "command": "=wget -O \"/data/media/boss_{{ $('Code in JavaScript').item.json.boss.replace(/ /g, '_') }}_hero_{{ $('Code in JavaScript').item.json.hero.replace(/ /g, '_') }}.jpg\" \"{{ $json.output[0] }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1600,
        -144
      ],
      "id": "ce0d3134-a9a6-4ae2-859b-0bea20878e71",
      "name": "이미지 저장 (wget)"
    },
    {
      "parameters": {
        "jsCode": "// stderr에서 저장된 파일 경로 추출\nconst stderr = $input.first().json.stderr || '';\nconst match = stderr.match(/\\/data\\/media\\/(boss_[^']+\\.jpg)/);\nconst filename = match ? match[1] : 'unknown.jpg';\nconst filepath = match ? match[0] : '/data/media/unknown.jpg';\n\n// Insert 노드에서 생성된 row의 id 가져오기\nconst insertedId = $('Insert rows in a table').item.json.id;\n\nreturn [{ json: { id: insertedId, filename, filepath, exitCode: $input.first().json.exitCode } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        -144
      ],
      "id": "bdcf1395-b6e2-4a23-8575-e95320ca56ee",
      "name": "파일명 추출"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "bosses",
          "mode": "list",
          "cachedResultName": "bosses"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "img_url": "={{ $json.filepath }}",
            "status": "completed"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "input_boss",
              "displayName": "input_boss",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "input_hero",
              "displayName": "input_hero",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "boss_name",
              "displayName": "boss_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hero_name",
              "displayName": "hero_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "boss_description",
              "displayName": "boss_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hero_description",
              "displayName": "hero_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "img_url",
              "displayName": "img_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1152,
        -144
      ],
      "id": "d104d71c-50de-4f9e-8491-a0671feecf3d",
      "name": "Update img_url",
      "credentials": {
        "postgres": {
          "id": "ZwpbCKcvAHS9Ywfz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.boss = \"snake\";\n  item.json.hero = \"pencil\"\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3456,
        -128
      ],
      "id": "ee83cb2c-d266-4223-9c22-314b15429400",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "bosses",
          "mode": "list",
          "cachedResultName": "bosses"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "input_boss": "={{ $('Code in JavaScript').item.json.boss }}",
            "input_hero": "={{ $('Code in JavaScript').item.json.hero }}",
            "boss_description": "={{ $json.output.boss_description }}",
            "hero_description": "={{ $json.output.hero_description }}",
            "location": "={{ $json.output.location }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "input_boss",
              "displayName": "input_boss",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "input_hero",
              "displayName": "input_hero",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "boss_name",
              "displayName": "boss_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hero_name",
              "displayName": "hero_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "boss_description",
              "displayName": "boss_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hero_description",
              "displayName": "hero_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "img_url",
              "displayName": "img_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2688,
        -128
      ],
      "id": "85658c9d-6b89-4c4f-b762-9fb11581448b",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "ZwpbCKcvAHS9Ywfz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://remotion:3001/render",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"compositionId\": \"SlotMachine\",\n  \"props\": {\n    \"boss\": \"{{ $json.boss }}\",\n    \"hero\": \"{{ $json.hero }}\"\n  },\n  \"outputPath\": \"/data/media/intro_1.mp4\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3440,
        144
      ],
      "id": "82b1834c-583b-40df-a770-4ceafa25dea0",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Replicate 결과 확인1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replicate 결과 확인1": {
      "main": [
        [
          {
            "node": "이미지 완료?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 완료?1": {
      "main": [
        [
          {
            "node": "이미지 저장 (wget)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "seedream-5": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 저장 (wget)": {
      "main": [
        [
          {
            "node": "파일명 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "파일명 추출": {
      "main": [
        [
          {
            "node": "Update img_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "85d1cfff-eda9-477e-ad9e-21e1e3330d7e",
  "activeVersionId": "34e4f132-a372-47a0-b3c5-4532ca96e431",
  "versionCounter": 19,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-04T08:13:16.960Z",
      "createdAt": "2026-02-04T08:13:16.960Z",
      "role": "workflow:owner",
      "workflowId": "qLy5BZegbmGjN6xL",
      "projectId": "4DMuQD4mGf90EGQi",
      "project": {
        "updatedAt": "2026-02-04T04:46:43.839Z",
        "createdAt": "2026-02-04T04:46:23.298Z",
        "id": "4DMuQD4mGf90EGQi",
        "name": "동명 myungsworld@gmail.com <myungsworld@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "016b1826-8ee1-45b4-86f7-314dfd4471c6",
        "projectRelations": [
          {
            "updatedAt": "2026-02-04T04:46:23.298Z",
            "createdAt": "2026-02-04T04:46:23.298Z",
            "userId": "016b1826-8ee1-45b4-86f7-314dfd4471c6",
            "projectId": "4DMuQD4mGf90EGQi",
            "user": {
              "updatedAt": "2026-02-05T00:58:08.000Z",
              "createdAt": "2026-02-04T04:46:23.180Z",
              "id": "016b1826-8ee1-45b4-86f7-314dfd4471c6",
              "email": "myungsworld@gmail.com",
              "firstName": "동명",
              "lastName": "myungsworld@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-04T04:46:45.730Z",
                "personalization_survey_n8n_version": "2.4.5"
              },
              "settings": {
                "userActivated": false,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-04T08:13:16.962Z",
    "createdAt": "2026-02-04T08:13:16.962Z",
    "versionId": "34e4f132-a372-47a0-b3c5-4532ca96e431",
    "workflowId": "qLy5BZegbmGjN6xL",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -2352,
          -144
        ],
        "id": "b088ae30-9f35-406d-8af4-6c526b2df9c1",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Use the following master cinematic template:\n\n\"Cinematic photographic image, dramatic lighting with volumetric rays and particle effects.\n[boss_description]\nIn the foreground, [hero_back_view_desciption], seen from behind, back facing the camera,\nstanding firmly on the battlefield.\nHis full silhouette visible, shoulders squared,\ngaze locked directly onto the colossal boss.\n\nDirectly ahead of him, towering in the distance,\n[boss], facing the hero head-on,\nits eyes fixed upon its challenger with absolute intent.\nLocation: [location].\nBoth figures fully visible in a wide cinematic shot, the boss towering 3 times over the hero.\nTension frozen at the moment both unleash their ultimate abilities — spells colliding in a cataclysmic shockwave.\nCamera angle: dramatic low angle with slight dutch tilt.\nLighting: boss backlit by sickly green deathglow, hero emanating pure white arcane radiance with extreme contrast between the two forces.\nPhotography style: AAA game cinematic, 4K ultra-detailed, ray-traced reflections, epic fantasy realism, dramatic depth of field, particle effects, motion blur hints on energy effects.\"\n\nboss description example :\n`A colossal Ancient Lich King standing as the ultimate adversary, radiating necrotic darkness energy that distorts the air around it. Its form is towering 12 feet of skeletal majesty draped in tattered imperial robes, with a crown of cursed obsidian and hollow eye sockets burning with green hellfire that speak of ancient power and countless victories. It wears corroded emperor's armor fused with its bones over millennia, adorned with soul gems containing the screaming essences of legendary heroes. Its eyes glow with ethereal green intensity, fixed upon its challenger. In its grasp, a massive runed staff topped with a skull that whispers forbidden knowledge, pulsing with death magic that withers all life nearby. The boss exudes the weight of ten thousand years of undeath - an overwhelming presence that warps reality itself.`\n\nhero back view decription exmaple :\n`A battle-hardened Supreme Archmage, bearing the marks of a thousand battles and ultimate mastery, seen entirely from behind, back facing the camera. His tall, commanding physique forms a powerful silhouette, arcane energy crackling beneath his skin and tracing along the contours of his broad shoulders and spine. Long white hair flows freely down his back, defying gravity as it is lifted by unseen magical currents, glowing faintly at the edges with residual starlight.\nRunic tattoos cover every visible surface of his back and arms, their ancient symbols pulsing softly as they channel immense arcane forces. He wears the Robes of the Reality Weaver — legendary-tier vestments forged from crystallized time and woven starlight — cascading behind him in layered folds, each thread shimmering with complex enchantments. The fabric appears to bend and refract light, creating subtle distortions in the air around his form.\nIn his grasp, held firmly at his side, the Staff of Infinite Theorems radiates power, emitting overlapping, translucent magic circles that expand outward from its haft and fracture the surrounding space. The archmage floats slightly above the ground, his boots suspended just above the surface as seven elemental orbs orbit slowly behind and around him, casting shifting reflections across his back and cloak.\nBehind him, a manifested arcane familiar — a phoenix formed of pure mathematics and glowing geometric light — hovers protectively, its vast, abstract wings unfurled in silent symmetry. No facial features are visible; the archmage’s intent and authority are conveyed solely through posture, silhouette, and the overwhelming arcane presence emanating from his form.\n`\n\nlocation example : \nThe Necropolis Throne - the heart of an undead empire buried beneath a dead world. The environment features towering pillars of fused bones, rivers of ghostly green energy, floating sarcophagi of fallen kings, and a throne made of a million skulls, with suffocating dread and eternal silence broken only by distant screams. Soul flames and necrotic mist swirl around the battlefield. The ground shows ancient tiles cracked by centuries, bones emerging from every crevice.`\n\nVARIABLE INPUTS:\n\nboss: Dimension Devourer\n\nhero: Doctor\n\nTASK:\n- Insert the boss and hero descriptions verbatim into the template.\n- Generate a highly detailed cinematic location that matches the boss’s theme,\n  power source, and mythic scale.\n- The location must feel ancient, monumental, and narratively appropriate\n  for a final confrontation.\n- Ensure the location visually supports the lighting, energy, and mood\n  implied by both boss and hero.\n\nReturn ONLY the completed cinematic prompt.",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=You are a cinematic prompt composer for high-end fantasy image generation.\n\nYour task is to generate a complete, cohesive cinematic image prompt\nusing a fixed master template.\n\nYou do NOT invent random styles.\nYou do NOT change the cinematic framing, camera, or photography style.\nYou ONLY expand and refine the variable sections when instructed.\n\nCORE RESPONSIBILITIES:\n- Integrate the provided {boss} and {hero} descriptions into the master template.\n- Generate a fully detailed {location} that matches the scale, tone, and theme\n  implied by the boss and hero.\n- Ensure all descriptions feel consistent in tone, scale, and genre.\n- Maintain AAA game cinematic quality at all times.\n\nABSOLUTE RULES:\n- Boss must always feel overwhelmingly dominant and colossal.\n- Hero must feel powerful, elite, and visually distinct, but clearly outscaled.\n- Location must feel epic, ancient, and worthy of the confrontation.\n- Do NOT include humor, irony, or parody.\n- Do NOT include dialogue or narration.\n- Do NOT describe the image generation process.\n- Do NOT change camera angle, lighting style, or photography style unless explicitly instructed.\n\nSTYLE CONSTRAINTS:\n- Language: English only.\n- Tone: epic, cinematic, mythic, AAA fantasy.\n- Perspective: external visual description only.\n- Focus on visual clarity and dramatic presence.\n\nOUTPUT RULES:\n- Output ONLY the final composed cinematic prompt.\n- Do NOT explain your choices.\n- Do NOT include headings, bullet points, or commentary."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          -1776,
          -144
        ],
        "id": "361fb536-ce9c-4061-aae4-6008199f79be",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          -1872,
          64
        ],
        "id": "87ec1528-585c-4131-a6fe-9fab7847b1c3",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "T6hLQOKnt40dUWSA",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n   \"boss_description\" : \"string\",\n   \"hero_description\" : \"string\",\n   \"location\" : \"string\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -1552,
          64
        ],
        "id": "5a6037f3-58b4-471d-a05f-df161a1775ed",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.replicate.com/v1/models/bytedance/seedance-1-pro-fast/predictions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.REPLICATE_API_TOKEN }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n\t\"input\": {\n      \"fps\": 24,\n      \"image\": \"{{ $json.output[0] }}\",\n      \"prompt\": \"The couple stand in a grand palace hallare walking forward at a very slow, confident, ceremonial pace, almost like slow motion. They walk straight toward the camera in a steady, graceful manner, with elegant posture. They do NOT look at the camera; instead, their gaze moves slightly around the environment, as if entering an important royal event or ballroom filled with people. The noblewoman's face remains perfectly composed and steady, with no sudden movements or exaggerated expressions. The animal maintains a dignified, controlled walk, matching the rhythm of the noblewoman while keeping a formal and respectful distance. Their clothing moves subtly with each step, showing realistic weight and fabric motion. The lighting is dramatic and warm, with reflections from chandeliers and polished marble floors, matching the palace environment in the image. Ultra-smooth camera motion, cinematic depth of field.\"\n\t}\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -592,
          -160
        ],
        "id": "dc54cb6c-4bde-4680-9a33-94f1e1dbe6f5",
        "name": "HTTP Request1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -1168,
          -144
        ],
        "id": "be6d478c-6479-4b63-a084-d7e58288c762",
        "name": "Wait",
        "webhookId": "7b364253-8119-45e8-92e7-89d92441b76c"
      },
      {
        "parameters": {
          "url": "={{ $json.urls.get }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Token {{ $env.REPLICATE_API_TOKEN }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -992,
          -144
        ],
        "id": "ac9d8700-e1e1-418c-b014-831e3924d84c",
        "name": "Replicate 결과 확인1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ $json.status }}",
                "rightValue": "succeeded",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "id": "condition-succeeded"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -800,
          -144
        ],
        "id": "4396c7e9-7ea8-41a8-896b-77179ae0ef1f",
        "name": "이미지 완료?1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.replicate.com/v1/models/bytedance/seedream-4/predictions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.REPLICATE_API_TOKEN }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n\t\"input\": {\n      \"size\" : \"4K\",\n      \"width\" : 2048,\n      \"height\" : 2048,\n      \"aspect_ratio\": \"9:16\",\n      \"max_images\" : 1,\n      \"prompt\": \"Cinematic photographic image, dramatic lighting with volumetric rays and particle effects. {{ $json.output.boss_description.replace(/\"/g, '\\\\\"') }} In the foreground, {{ $json.output.hero_description.replace(/\"/g, '\\\\\"') }}, seen from behind, back facing the camera,standing firmly on the battlefield. His full silhouette visible, shoulders squared, gaze locked directly onto the colossal boss. Directly ahead of him, towering in the distance, boss, facing the hero head-on,its eyes fixed upon its challenger with absolute intent. Location: {{ $json.output.location.replace(/\"/g, '\\\\\"') }} Both figures fully visible in a wide cinematic shot, the boss towering 3 times over the hero. Tension frozen at the moment both unleash their ultimate abilities - spells colliding in a cataclysmic shockwave. Camera angle: dramatic low angle with slight dutch tilt. Lighting: boss backlit by sickly green deathglow, archmage emanating pure white arcane radiance with extreme contrast between the two forces. Photography style: AAA game cinematic, 4K ultra-detailed, ray-traced reflections, epic fantasy realism, dramatic depth of field, particle effects, motion blur hints on energy effects.\"\n\n\t}\n} ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -1424,
          -144
        ],
        "id": "20af4b1b-1ee2-4eb0-83c0-570183b16e94",
        "name": "seedream-5"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "seedream-5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Replicate 결과 확인1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Replicate 결과 확인1": {
        "main": [
          [
            {
              "node": "이미지 완료?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "이미지 완료?1": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "동명 myungsworld@gmail.com",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-04T08:13:17.141Z",
        "id": 1,
        "workflowId": "qLy5BZegbmGjN6xL",
        "versionId": "34e4f132-a372-47a0-b3c5-4532ca96e431",
        "event": "activated",
        "userId": "016b1826-8ee1-45b4-86f7-314dfd4471c6"
      }
    ]
  }
}
